# Server
PORT=
NODE_ENV=

# JWT
JWT_SECRET_KEY=
JWT_EXPIRES_IN=

# Cookies
COOKIE_EXPIRES_IN=

# Database
MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=

# Frontend
CLIENT_URL=